:root {
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(.6rem + 1vw);
}

h2 {
  font-size: calc(1.5rem + 1vw);
}

.cardTitle {
  color: #fff;
}

.modal {
  &__content {
    line-height: 1.5em;
    font-size: calc(1.15rem + 1vw);
  }
}