.root {
  position: relative;
  > article {
    background: #5d4586;
    cursor: pointer;
    &:hover{
      background: #53318c;
      > div {
        > img {
          transform: scale(.85);
          transition: transform .5s ease-in-out;
        }
      }
    }
    > h2 {
      margin: 0;
      padding: .5em 0;
      text-align: center;
    }
    > div {
      background: #eee;
      > img {
        display: block;
        margin: 0 auto;
        padding: 1em 0;
        height: 200px;
        width: 100%;
        @include xl {
          height: 350px;
        }
      }
    }
  }
  > article:nth-child(2n+1) {
    @include md {
      border-right: 1px solid #53318c;
    }
    @include xl {
      border-right: none;
    }
  }
  > article:not(:nth-child(3n)) {
    @include xl {
      border-right: 1px solid #4d2c91;
    }
  }
}

#fallingflowers {
  background: #fedcea;
}

#chasingclouds {
  background: #00b2ff;
}

#whilewaiting {
  background: #ff6969;
}

#samesnow {
  background: #3B83c7;
}

#snowsoil {
  background: #43B44E;
}

#afterabsence {
  background: #987136;
}

#lanternlight {
  background: #edb038;
}

#totea {
  background: #a1a1a1;
}

#watchingwater {
  background: #5aaaf3;
}

#stillsleeping {
  background: #5C1967;
}

#recallingrain {
  background: #2743A7;
}

#afterawakening {
  background: #565656;
}

#turningtides {
  background: #edc9af;
}

#brokenbond {
  background: #cf2929;
}

#lyinglight {
  background: #1e1e1e;
}

#fineflame {
  background: #d96b2d;
}

#continuedcrossing {
  background: #1e7d8a;
}

#andair {
  background: #fff;
  img {
    visibility: hidden;
  }
}
