#root {
  position: relative;
  > article {
    background: #7e57c2;
    cursor: pointer;
    &:hover{
      background: #4d2c91;
    }
    > h2 {
      margin: 0;
      padding: .5em 0;
      text-align: center;
    }
    > img {
      display: block;
      padding: 1em 0;
      width: 100%;
      height: 200px;
      @include xl {
        height: 350px;
      }
    }
  }
  > article:nth-child(2n+1) {
    @include md {
      border-right: 1px solid #4d2c91;
    }
    @include xl {
      border-right: none;
    }
  }
  > article:not(:nth-child(3n)) {
    @include xl {
      border-right: 1px solid #4d2c91;
    }
  }
  @include md {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  @include xl {
    grid-template-columns: 1fr 1fr 1fr;
  }
}